/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #e03131;
  --ifm-color-primary-dark: #c92c2c;
  --ifm-color-primary-darker: #be2a2a;
  --ifm-color-primary-darkest: #9d2323;
  --ifm-color-primary-light: #e54848;
  --ifm-color-primary-lighter: #e85454;
  --ifm-color-primary-lightest: #ef7777;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ff6b6b;
  --ifm-color-primary-dark: #ff5252;
  --ifm-color-primary-darker: #ff4545;
  --ifm-color-primary-darkest: #ff1f1f;
  --ifm-color-primary-light: #ff8585;
  --ifm-color-primary-lighter: #ff9191;
  --ifm-color-primary-lightest: #ffb5b5;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
